:root {
  --color-gray: #333;
  --color-blue: #5ad2f4;
  --color-dark-blue: #20677a;
  --color-dark-green: #404e4d;
  --color-light-gray: #d3cdd7;
  --bg-color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-family: 300;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--bg-color);
}

.header {
  background-color: var(--color-dark-green);
  color: #fff;
  width: 100%;
  padding: 1rem 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header-img {
  height: 2.5rem;
  margin-right: 1rem;
}

.header-title {
  font-weight: 300;
}

.section-board {
  width: 50%;
  height: 100%;
  overflow: hidden;
  padding: 3rem 0;
  max-width: 900px;

  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pixel-board {
  list-style: none;
}

.line {
  display: flex;
}

.pixel {
  border: 1px solid #000;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.color-palette {
  list-style: none;
  display: flex;
  width: 200px;
  justify-content: space-evenly;
  margin: 1rem 0;
}

.color {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  cursor: pointer;
}

.button {
  padding: 0.2rem;
  background-color: var(--color-dark-blue);
  border: none;
  border-radius: 0.1rem;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
}

.button:hover {
  color: white;
}

.clear-board {
  margin-top: 1rem;
  background-color: var(--color-blue);
  padding: 0.5rem;
  color: black;
  border: 1px solid #c5c5c5;
  border-radius: 0.3rem;
}

.generate-board {
  font-family: 700;
  padding: 0.1rem 0.4rem;
  transition: all 0.2s;
}

.generate-board:hover {
  opacity: 0.6;
  color: black;
}
