:root {
  --color-background: #646881;
  --color-blue: #5AD2F4;
  --color-dark-green: #404E4D;
  --color-gray: #D3CDD7
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-background);
}

#title , #clear-board {
  margin-left: 50px;
}

#title {
  color: var(--color-blue);
  font-family: sans-serif;
  font-weight: 400;
}

#color-palette {
  list-style: none;
  display: flex;
  margin-left: 10px;
}

.color {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  margin: 2px;
  cursor: pointer;
}

#pixel-board {
  list-style: none;
  margin-left: 10px;
}

.line {
  display: flex;
}

.pixel {
  border: 1px solid var(--color-dark-green  );
  background-color: var(--color-gray);
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#board-size {
  width: 50px;
}

#board span {
  margin-left: 50px;
}

#header span {
  color: var(--color-blue);
  font-family: 18px;
}

#line-button {
  margin-left: 50px;
  margin-bottom: 20px;
}