.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
}

.facebook-login {
  display: flex;
  align-self: flex-end;
}

.facebook-log {
  align-self: flex-start;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  align-self: flex-end;
}

.main-content {
  display: flex;
  justify-content: center;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.form-line {
  display: flex;
}

#custom-gender-container {
  display: none;
}

.submited-form {
  display: none;
}
