* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: OpenSans;
}

body {
  background-color: #191A1D;

  color: #ffffff;

  height: 100vh;

  display: flex;

  align-items: center;
  justify-content: center;


}

#about {
  display: flex;

  align-items: center;
  justify-content: center;

  margin-left: -80px;
}

#me-photo {
  width: 250px;

  border-radius: 50%;

  margin-top: 62px;
}

#about-me {
  margin-right: 150px;
  margin-left: 120px;
}

#about-me h1 {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;

  margin-bottom: 20px;
}

#about-me p {
  text-align: center;

  font-family: Mukta, sans-serif;
  font-size: 20px;

  width: 450px;
}

#aside-bar {
  display: flex;

  flex-direction: column;
}

#aside-bar img {
  width:40px; 
}

#skills-icon {
  margin-top: 55px;
  margin-bottom: 55px;
}

